@media only screen and (max-width:  1366px){

*{
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

.grid-container>div {
  color: white;
  margin-top: 14px;
}
.grid-container .up{
  width:70%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.grid-container .up .right-child{
  width:70%;
  height: 100%;
  background-color:rgba(235, 35, 35, 0.533);
  margin-left: 14px;
  padding: 0;
}
.grid-container .up .right-child .img{
  width:100%;
  height: 100%;
}
.grid-container .up .right-child .news-header{
  width:645px;
  height: 155px;
  position: absolute;
  background-color:rgba(1, 1, 1, 0.7);
  top: 74.3%;
}

.grid-container .down{
  display: flex;
  flex-direction: row;
  width:70%;
  height: 250px;
}



.grid-container .up .left-child{
  display: flex;
  flex-direction: column;
  width:30%;
  height: 100%;
  
}
.grid-container .up .left-child .child{
  justify-content: center;
  width:100%;
  height: 100%;
  background-color:rgba(35, 188, 235, 0.533);

}
.grid-container .up .left-child .up{
  margin-bottom: 14px;

}



.grid-container .down .child{
  width: 100%;
  height: 100%;
 
}
.grid-container .down .right{
  background-color: blueviolet;
}
.grid-container .down .middle{
  background-color: cadetblue;
  margin: 0 14px;
}
.grid-container .down .left{
  background-color: darkgoldenrod;
}

.content-container{
  margin: 0px 20px;
  box-sizing: border-box;
}
.detail svg{
    width: .875em;
    height: .875em;
    margin-right: 5px;

}
.detail {
  padding: 0;
  margin:10px 0px 8px 0px;
  font-size: 14px;
  color: #999;
}
.title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;

}
.content{
  text-align: justify;
  margin-top:10px;
  font-size: 13px;
}

}



