@media only screen and (max-width:  1366px){

*{
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

.grid-container>div {
  color: white;
  margin-top: 14px;
}
.grid-container .up{
  width:70%;
  height: 430px;
  display: flex;
  flex-direction: row;
}
.grid-container .up .right-child{
  width:70%;
  height: 100%;
  background-image: url("./assets/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 14px;
  padding: 0;
}

.grid-container .up .right-child .news-header{
  width:100%;
  height: 155px;
  position:relative;
  padding-top: 10px;
  background-color:rgba(1, 1, 1, 0.7);
  top: 61.6%;
}

.grid-container .down{
  display: flex;
  flex-direction: row;
  width:70%;
  height: 150px;
  
}



.grid-container .up .left-child{
  display: flex;
  flex-direction: column;
  width:30%;
  height: 100%;
  
}
.grid-container .up .left-child .child{
  justify-content: center;
  width:100%;
  height: 100%;
  background-color:rgba(35, 188, 235, 0.533);

}
.grid-container .up .left-child .up{
  margin-bottom: 14px;

}



.grid-container .down .child{
  width: 100%;
  height: 100%;
}
.grid-container .down .right{
}
.grid-container .down .middle{
  margin: 0 14px;
}
.grid-container .down .left{
}

.content-container{
  margin: 0px 20px;
  box-sizing: border-box;
}
.detail svg{
    width: .875em;
    height: .875em;
    margin-right: 5px;
}
.detail {
  margin-bottom: 8px;
  font-size: 14px;
  color: #999;
}
.title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
}
.title:hover{
  text-decoration: underline;
  color: red;
  user-select: none;
}
.content{
  text-align: justify;
  font-size: 13px;
}

.down .child{
  background-image: url("./assets/employer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.down .child .opacity{
  width: 100% !important;
  height: 100% !important;
  background-image: linear-gradient(180deg,transparent, black);
  z-index: 10;
}

.down .child .opacity ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  bottom: 30px;
  position: absolute;
}
.down .child .opacity ul #acronimo{
  font-size: 16px;
  font-weight: 900;
}


}



