@media only screen and (max-width:  1366px){

*{
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

.grid-container>div {
  color: white;
  margin-top: 14px;
}
.grid-container .up{
  width:70%;
  height: 430px;
  display: flex;
  flex-direction: row;
}
.grid-container .up .right-child{
  width:70%;
  height: 100%;
  background-image: url("./assets/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 14px;
  padding: 0;
}

.grid-container .up .right-child .news-header{
  width:100%;
  height: 130px;
  position:relative;
  padding-top: 10px;
  background-color:rgba(1, 1, 1, 0.7);
  top: 67.7%;
}

.grid-container .down{
  display: flex;
  flex-direction: row;
  width:70%;
  height: 150px;
}



.grid-container .up .left-child{
  display: flex;
  flex-direction: column;
  width:30%;
  height: 100%;  
}
.grid-container .up .left-child .child{
  justify-content: left;
  width:100%;
  height: 100%;
}
.grid-container .up .left-child .child .in{
  display: flex;
  flex-direction: column;
  width:40%;
  padding: 20px;
  color: black;
}

.grid-container .up .left-child .up .in:hover{
  background-color:rgba(241, 21, 21, 0.5);
  color: white;
}
.grid-container .up .left-child .down .in:hover{
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}
.grid-container .up .left-child .child .in span{
  margin-top: 5px;
  text-align: left;
  font-size: 1rem;
}


.grid-container .up .left-child .child .in span:first-of-type{
  font-weight: bold;
}

.grid-container .up .left-child .up .in button{
  font-weight: 700;
  height: 30px;
  margin-top: 5px;
  border: none;
  color: #fff;
  background-color: #0277b1;
}

.grid-container .up .left-child .down .in button{
  font-weight: 700;
  height: 30px;
  margin-top: 8px;
  border: none;
  color: #fff;
  background-color:rgb(241, 21, 21);
}


.grid-container .up .left-child .up{
  margin-bottom: 14px;
  background-image: url("./assets/apontando2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-container .up .left-child .down{
  background-image: url("./assets/doc-apontando-full.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.grid-container .down .child{
  width: 100%;
  height: 100%;
}
.grid-container .down .right{
}
.grid-container .down .middle{
  margin: 0 14px;
}
.grid-container .down .left{
}

.content-container{
  margin: 0px 20px;
  box-sizing: border-box;
}
.detail svg{
    width: .875em;
    height: .875em;
    margin-right: 5px;
}
.detail {
  margin-bottom: 8px;
  font-size: 14px;
  color: #999;
}
.title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
}
.title:hover{
  text-decoration: underline;
  color: red;
  user-select: none;
}
.content{
  text-align: justify;
  font-size: 13px;
}

.down .child{
  background-image: url("./assets/employer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.down .child .opacity{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  background-image: linear-gradient(180deg,transparent, black);
  z-index: 10;
}

.down .child .opacity ul{
  list-style: none;
  margin: 0;
  position: relative;
  top: 70%
}
.down .child .opacity ul #acronimo{
  font-size: 16px;
  font-weight: 900;
}


}



